package {{.ControllerPackage}}

type {{.ControllerEntity}}Controller struct{}

func New{{.ControllerEntity}}Controller() *{{.ControllerEntity}}Controller {
	return &{{.ControllerEntity}}Controller{}
}