package {{.WorkersPackage}}

import (
	"context"
	"fmt"
	"goblin/{{.JobsImport}}"
	"goblin/{{.LoggerImport}}"
	"goblin/test/services"
	"math/rand"
	"time"
)

const baseRetryDelay = 2 * time.Second


var jobTypeMaxNumberOfRetriesMap = map[jobs.JobType]int{}

type OrchestratorWorker struct {
	jobsManager      jobs.JobsManagerInterface
	centralService   *services.CentralService
}

func NewOrchestratorWorker(jobsManager jobs.JobsManagerInterface, centralService *services.CentralService) *OrchestratorWorker {
	return &OrchestratorWorker{
		jobsManager:      jobsManager,
		centralService:   centralService,
	}
}

func (o *OrchestratorWorker) Start(ctx context.Context) {
	results := make(chan *jobs.JobResult)


	for {
		select {
		case <-ctx.Done():
			return
		case res := <-results:
			o.handleResult(ctx, res)
		default:

			processedJob, err := o.jobsManager.FetchAndProcessJob(ctx)
			if err != nil {
			    {{ if .LoggerImplemented }} {{.LoggerPackage}}.Logger.LogError().Msgf("failed to process job: %s", err.Error()) {{ else }} fmt.Println("failed to process job: ", err.Error()) {{ end }}
				continue
			}

			switch processedJob.JobType {
			default:
			    {{ if .LoggerImplemented }} {{.LoggerPackage}}.Logger.LogError().Msg(fmt.Sprintf("Unknown job type: %d", processedJob.JobType)) {{ else }} fmt.Println(fmt.Sprintf("Unknown job type: %d", processedJob.JobType)) {{ end }}
				continue
			}
		}
	}
}

func (o *OrchestratorWorker) handleResult(ctx context.Context, result *jobs.JobResult) {
	if result.Err != nil {
		result.Job.RetryCount++

		if result.Job.RetryCount >= jobTypeMaxNumberOfRetriesMap[result.Job.JobType] {
			errorMessage := result.Err.Error()
			result.Job.Error = &errorMessage
			result.Job.Status = jobs.JobStatusFailed

			if saveErr := o.jobsManager.SaveFailedJob(result.Job); saveErr != nil {
                {{ if .LoggerImplemented }} {{.LoggerPackage}}.Logger.LogError().Msg(saveErr.Error()) {{ else }} fmt.Println("Failed to save failed job: ", saveErr.Error()) {{ end }}
			}
			{{ if .LoggerImplemented }} {{.LoggerPackage}}.Logger.LogError().Msgf("Job %s failed after retries", result.Job.Uuid) {{ else }} fmt.Println("Job %s failed after retries", result.Job.Uuid) {{ end }}
		} else {
			// exponential backoff with jitter
			delay := baseRetryDelay * (1 << result.Job.RetryCount)
			jitter := rand.Intn(int(delay / 2))
			time.Sleep(delay + time.Duration(jitter))

			{{.LoggerPackage}}.Logger.Debug().Msgf("Retrying job %s (attempt %d)", result.Job.Uuid, result.Job.RetryCount)
			go func(job *jobs.Job) {
				err := o.jobsManager.RequeueJob(ctx, job)
				if err != nil {
					{{ if .LoggerImplemented }} {{.LoggerPackage}}.Logger.LogError().Msgf("failed to requeue job %s", result.Job.Uuid) {{ else }} fmt.Println("failed to requeue job: ", result.Job.Uuid) {{ end }}
				}
			}(result.Job)
		}
	}
}
