models_folder_path:  {{GetProjectName}}/models
controllers_folder_path:  {{GetProjectName}}/controllers
services_folder_path:  {{GetProjectName}}/services
repositories_folder_path:  {{GetProjectName}}/repos
database_instances_folder_path:  {{GetProjectName}}/databases
workers_folder_path:  {{GetProjectName}}/workers
jobs_folder_path:  {{GetProjectName}}/jobs
logger_folder_path:  {{GetProjectName}}/logger
project_name: {{GetProjectName}}
migrations_folder_path:  {{GetProjectName}}/migrations
router_folder_path:  {{GetProjectName}}/router
middlewares_folder_path:  {{GetProjectName}}/middlewares
auth: {{GetProjectName}}/auth