models_folder_path: test/models
controllers_folder_path: test/controllers
services_folder_path: test/services
repositories_folder_path: test/repos
database_instances_folder_path: test/databases
project_name: {{GetProjectName}}