models_folder_path: test/models
controllers_folder_path: test/controllers
services_folder_path: test/services
repositories_folder_path: test/repos
database_instances_folder_path: test/databases
workers_folder_path: test/workers
jobs_folder_path: test/jobs
logger_folder_path: test/logger
project_name: {{GetProjectName}}
migrations_folder_path: test/migrations
router_folder_path: test/router
middlewares_folder_path: test/middlewares