package {{.Package}}
{{ if .CentralServiceExists }}
import (
    "{{GetProjectName}}/{{.ServicePackageImport}}"
)
{{end}}
type CentralController struct {
	// implementations
}

func NewCentralController({{ if .CentralServiceExists }}centralService *{{.ServicePackage}}.CentralService{{end}}) *CentralController {
	return &CentralController{}
}