package {{.ControllerPackage}}

import "{{.ValidatorPackageImport}}"

type {{.ControllerEntity}}Controller struct{
    validator *validator.Validator
}

func New{{.ControllerEntity}}Controller(validator *validator.Validator,) *{{.ControllerEntity}}Controller {
	return &{{.ControllerEntity}}Controller{
	    validator: validator,
	}
}